body,
html {
  font-size: 16px;
  font-family: "source-han-sans-japanese", Yu Gothic sans-serif;
  text-align: center;
}

h4 {
  margin-top: 24px;
}

p {
  margin: 14px 0;
}

ul,
dd,
dt {
  padding: 0;
  margin: 0;
}

li {
  margin: 24px 0;
  list-style: none;
}

a {
  color: rgb(83, 83, 83);
  &:hover {
    opacity: 0.6;
  }
}

.table {
  max-width: 600px;
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  border: 2px solid rgb(83, 83, 83);
}

.table th,
td {
  border-collapse: collapse;
  border: 2px solid rgb(83, 83, 83);
  padding: 12px;
}

.image-wrapper {
  border-top: 1.5px solid rgba(36, 36, 36, 0.721);
  border-bottom: 1.5px solid rgba(36, 36, 36, 0.721);
  padding: 30px 0;
  img {
    width: 80%;
    margin: 0 auto;
    max-height: 400px;
    object-fit: cover;
  }
}

.name {
  text-align: right;
  margin-right: 10%;
}

.title {
  text-decoration: underline;
}

.content {
  max-width: 1100px;
  @media screen and (max-width: 1200px) {
    max-width: 860px;
  }
  @media screen and (max-width: 768px) {
    max-width: 560px;
  }
  @media screen and (max-width: 420px) {
    max-width: 260px;
  }
  margin: 0 auto;
}

.left {
  text-align: justify;
}

footer {
  border-top: 1px solid black;
}

.collage,
.ind,
.free {
  padding: 15px 0;
}

.line-through {
  text-decoration: line-through;
}

.ind dd > a {
  display: block;
}
.basic {
  margin: 12px;
}
.basic li {
  margin: 0;
}
